{
  "extends": [
    "@artus/eslint-config-artus/typescript",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/ban-types": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "^_", "argsIgnorePattern": "^_" }]
  },
  "overrides": [
    {
      "files": [
        "{src,test}/**/*.ts",
        "jest.config.js"
      ],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ]
}